*{
	font-family: 'Orbitron', sans-serif;
	color:white;
}

body {
    background-image: url("../images/space.jpg");
    background-size: cover;
}

.wrapper{
	width: 700px;
	margin: 20px auto 0px;
}

/*-----------------Title Layer-------------------*/

h1{
	text-align:center;
}

#space-edition{
	color: yellow;
}

/*-----------------Stats Layer-------------------*/

#stats{
	border: 2px solid white;
	border-radius: 15px;
	width:100%;
	margin:30px 0px 10px 0px;
	padding:0px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}


#guesses-left{
	color: #00FFFF ;
}


#wins-counter, #losses-counter{
	color: #FFB6C1;
}

#volume-container{
	margin: 11px 0;
	width: 45px;
	height: 45px;
}

#volume{
	widows: 100%;
	height: 100%;
	border-radius: 5px;
}

#volume:hover{
	cursor: pointer;
}

/*-----------------Game Space Layer-------------------*/

.game-space{
	display:flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
	margin:0px;
	padding:0px;
	margin-top:20px;
}


#rocketpic{
	width: 200px;
	height: 400px;
}


.guessed-word-container{
	width: 400px;
	height: 400px;
	margin:0;
	padding:0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#target-word{
	position: relative;
	top: 20px;
	width: 400px;
	text-align:center;
	font-size: 3em;
}

#status{
	width:400px;
	font-size:1.3em;
	text-align:center;
	height: 50px;
}


/*-----------------Letter History Layer-------------------*/

.letter-history{
	display:flex;
	justify-content: space-around;
	margin-top: 15px;
	padding: 0;
	width: 100%;
}

.last-guess-container{ 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align:center; 
	border: 2px solid white;
	margin: 0;
	padding: 0;
	width: 145px;
	height: 125px;
	border-radius: 15px;
}

.help-text{
	padding:0;
	margin:0;
	font-size:1.2em;
}

#last-letter{
	position: relative;
	bottom: 9px;
	text-align: center;
	font-size:4em;
	height: 80px;
	width: 100%;
}


.guessed-letters-container{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	text-align:center;
	border: 2px solid white;
	margin: 0;
	padding: 0;
	width: 380px;
	height:125px;
	font-size: 1.2em;
	border-radius: 15px;
}


#guessed-letters{
	font-size: 1.5em;
	letter-spacing: 5px;
	text-align:center;
	width:100%;
	height: 80px;
	white-space: pre-wrap;
	word-break: break-all;
}